@using System.Threading.Tasks
@using ExpenseManager.Presentation
@model ExpenseManager.Presentation.Models.Expense.IndexFilterViewModel

@section title
{
    Expenses
}

<div class="col-sm-3 sidebar left">
    <form asp-action="Index">
        @Html.AntiForgeryToken()
        <!--<label asp-for="DateFrom"></label>
        <input asp-for="DateFrom" class="form-control"/>
        <span asp-validation-for="DateFrom" class="text-danger" />-->
        <label for="date-from">Created from: </label>
        <input name="DateFrom" class="form-control" id="date-from" type="text" @(Model.DateFrom != null ? "value=" + Model.DateFrom : "") />
        <!--<br class="datepicker-separator"/>-->
        <label for="date-to">Created to: </label><input name="DateTo" class="form-control" id="date-to" type="text" @(Model.DateTo != null ? "value=" + Model.DateTo : "") />
        <br/>
        <label for="money-from">Minimal ammount: </label><input name="MoneyFrom" class="form-control" id="money-from" type="text" @(Model.MoneyFrom != null ? "value=" + Model.MoneyFrom : "") />
        <label for="money-to">Maximal ammount: </label><input name="MoneyTo" class="form-control" id="money-to" type="text" @(Model.MoneyTo != null ? "value=" + Model.MoneyTo : "") />
        <div class="form-group">
            <label>Category:</label> <br/>
            <select name="CostTypeId" class="form-control">
                <option value="">All</option>
                @foreach (var costType in Model.CostTypes)
                {
                    @Html.Raw("<option value=" + costType.Id + " " + (Model.CostTypeId == costType.Id ? "selected" : "") + ">" + costType.Name + "</option>")
                }
            </select>
        </div>
        <input type="hidden" name="PageNumber" value="1"/>
        <input type="submit" class="search form-control" value="Search"/>
    </form>
    </div>
    <div class="col-sm-6 main-content">
        <h1>Expenses</h1>
        @if (@Model.CurrentUser.HasFullRights)
        {
            @Html.ActionLink("+", "Create", "Expense", null, new { @class = "add-new" })
        }
        <table class="table">
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th class="text-center">Date</th>
                <th class="text-center">Cost</th>
                @if (@Model.CurrentUser.HasFullRights)
                {
                    <th class="text-center">Delete</th>
                }
            </tr>
            @foreach (var expense in Model.Expenses)
            {
                <tr>
                    <td>@expense.TypeName</td>
                    <td>@expense.Description</td>
                    <td class="text-center">@expense.Created.ToShortDateString()</td>
                    @if (expense.IsIncome)
                    {
                        <td class="positive text-center">+@expense.Money $</td>
                    }
                    else
                    {
                        <td class="negative text-center">-@expense.Money $</td>
                    }

                    @if (Model.CurrentUser.HasFullRights)
                    {
                        <td class="text-center">
                            <form asp-action="Delete">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="returnRedirect" value="@Url.Action("Index", "Expense", new { successMessage = ExpenseManagerResource.ExpenseDeleted })" />
                                <input type="hidden" name="id" value="@expense.Id" />
                                <button class="link-button negative"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </table>
        <div class="expense-pagination">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li @((i == 1 && Model.PageNumber == null) || Model.PageNumber == i ? "class=active" : "")><a href="#">@i</a></li>
                }
            </ul>
        </div>
    </div>
