@{
    Layout = "_layout";
}

@section title
{
    Expenses
}

@model List<ExpenseManager.Presentation.Models.Expense.IndexViewModel>

<div class="col-sm-3 sidebar left">
        <form class="form">
            <label for="search-from">From: </label><input class="form-control datepicker" id="search-from" type="text" />
            <br class="datepicker-separator" />
            <label for="search-to">To: </label><input class="form-control datepicker" id="search-to" type="text" />

            <br /> TODO vložiť range slider na sumu <br />
            <div class="form-group">
                <label>Category:</label> <br />
                <select class="form-control">
                    <option>Strava</option>
                    <option>Zábava</option>
                    <option>other</option>
                    <option>other</option>
                </select>
            </div>
            <input type="submit" class="search form-control" value="Search" />
        </form>
    </div>
    <div class="col-sm-6 main-content">
        <h1>Expenses</h1>
        @Html.ActionLink("+", "Index", "Expense", null, new { @class = "add-new" })
        <table class="table">
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
                <th>Cost</th>
            </tr>
            @foreach (var indexViewModel in Model)
            {
                <tr>
                    <td>@indexViewModel.TypeName</td>
                    <td>@indexViewModel.Description</td>
                    <td>@indexViewModel.Created</td>
                    @if (@indexViewModel.IsIncome)
                    {
                        <td class="positive">+@indexViewModel.Money $</td>
                    }
                    else
                    {
                        <td class="negative">-@indexViewModel.Money $</td>
                    }
                </tr>
            }
        </table>
        <div class="expense-pagination">
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>
