@using ExpenseManager.Business.DataTransferObjects.Enums
@model List<ExpenseManager.Presentation.Models.Plan.IndexViewModel>

@section title
{
    Plans
}

<div class="col-sm-9 content-holder">
    <h1>Plans</h1>
    <table class="table">
        <tr>
            <th>Description</th>
            <th>Start</th>
            <th>Deadline</th>
            <th>Type</th>
            <th>Related category</th>
            <th>Ammount</th>
            <th></th>
        </tr>
        @foreach (var plan in Model)
        {
            <tr>
                <td>@plan.Description</td>
                <td>@plan.Start.ToShortDateString()</td>
                <td>@plan.Deadline.ToShortDateString()</td>
                @if (plan.PlanType == PlanType.MaxSpend)
                {
                    <td>Maximum spending</td>
                }
                else
                {
                    <td>Saving</td>
                }
                <td>@plan.PlannedTypeName</td>
                <td>@plan.PlannedMoney $</td>
                @if (plan.IsCompleted)
                {
                    <td class="positive">Finished</td>
                }
                else if (plan.Deadline < DateTime.Now)
                {
                    <td class="negative">Not finished</td>
                }
                else
                {
                    <td class="neutral">In progress</td>
                }
            </tr>
        }
    </table>
</div>