@using ExpenseManager.Business.DataTransferObjects.Enums
@model ExpenseManager.Presentation.Models.Plan.IndexViewModel

@section title
{
    Plans
}

<div class="col-sm-9 content-holder">
    <a href="@Url.Action("Create", "Plan")" class="add-new">+</a>
    <h2>Plans which could be closed</h2>
    @if (Model.ClosablePlans.Count == 0)
    {
        <span>No plans</span>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Description</th>
                <th>Ammount</th>
                <th></th>
            </tr>
            @foreach (var plan in Model.ClosablePlans)
            {
                <tr>
                    <td>@plan.Description</td>
                    <td>@plan.PlannedMoney</td>
                    <td><a href="#">Mark as finished</a></td>
                </tr>
            }
        </table>
    }

    <h2>All plans</h2>
    <table class="table">
        <tr>
            <th>Description</th>
            <th>Start</th>
            <th>Deadline</th>
            <th>Type</th>
            <th>Related category</th>
            <th>Ammount</th>
            <th></th>
        </tr>
        @foreach (var plan in Model.AllPlans)
        {
            <tr>
                <td>@plan.Description</td>
                <td>@plan.Start.ToShortDateString()</td>
                <td>@plan.Deadline.ToShortDateString()</td>
                @if (plan.PlanType == PlanType.MaxSpend)
                {
                    <td>Maximum spending</td>
                }
                else
                {
                    <td>Saving</td>
                }
                <td>@plan.PlannedTypeName</td>
                <td>@plan.PlannedMoney&nbsp;$</td>
                @if (plan.IsCompleted)
                {
                    <td class="positive">Finished</td>
                }
                else if (plan.Deadline < DateTime.Now)
                {
                    <td class="negative">Not finished</td>
                }
                else
                {
                    <td class="neutral">In progress</td>
                }
            </tr>
        }
    </table>
</div>