@using System.Threading.Tasks
@using ExpenseManager.Business.DataTransferObjects.Enums
@using ExpenseManager.Presentation.Models.Expense
@using IndexViewModel = ExpenseManager.Presentation.Models.User.IndexViewModel

@model ExpenseManager.Presentation.Models.AccountSettingsViewModel.AddAccessViewModel

@section title
{
    Account Settings
}

@{
    List<IndexPermanentExpenseViewModel> expenses = (List<IndexPermanentExpenseViewModel>) ViewData["expenses"];
    List<IndexViewModel> usersWithAccess = (List<IndexViewModel>) ViewData["usersWithAccess"];
}

<div class="col-sm-9 content-holder account-settings">
    <h1>Account settings</h1>
    <h2>Access to account</h2>
    <table class="table">
        @foreach (var user in usersWithAccess)
        {
            <tr>
                <td>@user.Email</td>
            </tr>
        }
    </table>
    
    <h4>Add new user to account</h4>
    <form asp-action="AddAccessToAccount">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-horizontal">
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AccessType" class="col-md-2 control-label">Access type</label>
                <div class="col-md-10">
                    <select class="form-control" name="AccessType">
                        <option value="1">Full</option>
                        <option value="2">Only read</option>
                    </select>
                    <span asp-validation-for="AccessType" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn" />
                </div>
            </div>
        </div>
        
    </form>
    
    <h2>Permanent expenses</h2>
    <table class="table">
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Next time to apply</th>
            <th class="text-center">Ammount</th>
            <th class="text-center">Periodicity</th>
            <th class="text-center">Periodicity multiplicity</th>
            <th class="text-center">Delete</th>
        </tr>
        @foreach (var expense in expenses)
        {
            <tr>
                <td>@expense.TypeName</td>
                <td>@expense.Description</td>
                <td>@expense.Created.ToShortDateString()</td>
                @if (@expense.IsIncome)
                {
                    <td class="positive text-center">+@expense.Money $</td>
                }
                else
                {
                    <td class="negative text-center">-@expense.Money $</td>
                }
                <td class="text-center">
                    @if (expense.Periodicity == Periodicity.Day)
                    {
                        <span>Daily</span>
                    }
                    @if (expense.Periodicity == Periodicity.Week)
                    {
                        <span>Weekly</span>
                    }
                    @if (expense.Periodicity == Periodicity.Month)
                    {
                        <span>Monthly</span>
                    }
                </td>
                <td class="text-center">@expense.PeriodicMultiplicity</td>
                <td class="text-center">
                    <form method="post" action="@Url.Action("Delete", "Expense")">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="returnRedirect" value="@Url.Action("Index", "AccountSettings")"/>
                        <input type="hidden" name="id" value="@expense.Id" />
                        <button class="link-button negative"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
        }
        <tr class="add-new-permanent-expense">
            <td colspan="3">
                <a href="@Url.Action("CreatePermanentExpense", "Expense")">Add new</a>
            </td>
        </tr>
    </table>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}