@using System.Threading.Tasks
@using ExpenseManager.Business.DataTransferObjects.Enums
@using ExpenseManager.Presentation.Models.Expense
@section title
{
    Account Settings
}

@{
    List<IndexPermanentExpenseViewModel> expenses = (List<IndexPermanentExpenseViewModel>) ViewData["expenses"];
}

<div class="col-sm-9 content-holder account-settings">
    <h1>Account settings</h1>
    <h2>Access to account</h2>
    <table class="table">
        <tr>
            <td>User with access</td>
        </tr>
        <tr>
            <td>User with access</td>
        </tr>
        <tr>
            <td>User with access</td>
        </tr>
        <tr>
            <td>User with access</td>
        </tr>
        <tr>
            <td>
                <form class="floating-inputs">
                    <input class="form-control" placeholder="Username" type="text" />
                    <input class="form-control" type="submit" value="Add new" />
                </form>
            </td>
        </tr>
    </table>
    
    <h2>Permanent expenses</h2>
    <table class="table">
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Next time to apply</th>
            <th class="text-center">Ammount</th>
            <th class="text-center">Periodicity</th>
            <th class="text-center">Periodicity multiplicity</th>
        </tr>
        @foreach (var expense in expenses)
        {
            <tr>
                <td>@expense.TypeName</td>
                <td>@expense.Description</td>
                <td>@expense.Created</td>
                @if (@expense.IsIncome)
                {
                    <td class="positive text-center">+@expense.Money $</td>
                }
                else
                {
                    <td class="negative text-center">-@expense.Money $</td>
                }
                <td class="text-center">
                    @if (expense.Periodicity == Periodicity.Day)
                    {
                        <span>Daily</span>
                    }
                    @if (expense.Periodicity == Periodicity.Week)
                    {
                        <span>Weekly</span>
                    }
                    @if (expense.Periodicity == Periodicity.Month)
                    {
                        <span>Monthly</span>
                    }
                </td>
                <td class="text-center">@expense.PeriodicMultiplicity</td>
            </tr>
        }
        <tr class="add-new-permanent-expense">
            <td colspan="3">
                <a href="@Url.Action("CreatePermanentExpense", "Expense")">Add new</a>
            </td>
        </tr>
    </table>
</div>