<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <title>@RenderSection("title")</title>
    
    <!-- Third party CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.min.css">

    <!-- Own CSS -->
    <link rel="stylesheet" href="~/css/main.css">
    
    <!-- Third party JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    
    <!-- Own JS -->
    <script src="~/js/main.js"></script>

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div id="left-menu-opener" href=""><i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <a href="@Url.Action("Index", "Expense")" class="project-name">Expense Manager</a>
    <span class="right-part">
        <span class="username">@User.Identity.Name</span>
        <a href="@Url.Action("LogOff", "Account")" class="logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>
    </span>
</header>
<div id="left-menu">
    <ul>
        <li>@Html.ActionLink("Account statment", "Index", "Expense")</li>
        <li>@Html.ActionLink("Standing orders", "Index", "PermanentExpense")</li>
        <li>@Html.ActionLink("Categories", "Index", "Category")</li>
        <li>@Html.ActionLink("Plans", "Index", "Plan")</li>
        <li>@Html.ActionLink("Achievements", "Index", "Achievement")</li>
        <li>@Html.ActionLink("Account settings", "Index", "AccountSettings")</li>
    </ul>
</div>
<div class="container-fluid">
    @RenderBody()
    <div class="col-md-3 sidebar right">
        <div class="money-info">
            @await Component.InvokeAsync("Balance")
        </div>
        <br />
        <div>
            @await Component.InvokeAsync("Graph")
        </div>
        <hr/>
        <div class="achievements">
            @await Component.InvokeAsync("AchievedBadges")
        </div>
        <hr/>
        @await Component.InvokeAsync("InProgressPlans")
    </div>
</div>
    
@await Component.InvokeAsync("SuccessMessage")
</body>

@RenderSection("scripts", required: false)
</html>