<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <title>@RenderSection("title")</title>
    
    <!-- Third party CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Own CSS -->
    <link rel="stylesheet" href="~/css/main.css">
    
    <!-- Third party JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <!-- Own JS -->
    <script src="~/js/main.js"></script>

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div id="left-menu-opener" href=""><i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <a href="@Url.Action("Index", "Expense")" class="project-name">Expense Manager</a>
    <span class="right-part">
            @await Component.InvokeAsync("UserEmail")
            <a href="@Url.Action("LogOff", "Account")" class="logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>
        </span>
</header>
<div id="left-menu">
    <ul>
        <li><a href="@Url.Action("Index", "Expense")">Expenses</a></li>
        <!--<li><a href="#">Permanent expenses</a></li>
        <!--<li><a href="#">Categories</a></li>-->
        <li><a href="@Url.Action("Index", "Plan")">Plans</a></li>
        <li><a href="@Url.Action("Index", "Achievement")">Achievements</a></li>
        <li><a href="@Url.Action("Index", "AccountSettings")">Account settings</a></li>
    </ul>
</div>
<div class="container-fluid">
    @RenderBody()
    <div class="col-sm-3 sidebar right">
        <div class="money-info">
            <h3>Money remaining:</h3>
            <span class="remaining-money">5000 kč</span>
            <span>Total money for this month: 30000kč</span>
        </div>
        <hr/>
        <div class="achievements">
            <h3>Latest achievements</h3>
            <div class="achievement">
                <img src="~/images/badge.png"/>
                <span>Ušetrenie 5000kč</span>
            </div>
            <div class="achievement">
                <img src="~/images/badge.png"/>
                <span>Minutie menej než 15000kč</span>
            </div>
            <div class="achievement">
                <img src="~/images/badge.png"/>
                <span>Ušetrenie 5000kč</span>
            </div>
            <div class="achievement">
                <img src="~/images/badge.png"/>
                <span>Minutie menej než 15000kč</span>
            </div>
            <div class="achievement">
                <div class="img-holder"></div>
                <span><a class="more" href="@Url.Action("Index", "Achievement")">More...</a></span>
            </div>
        </div>
        <hr/>
        <div class="plans">
            <h3>Plans for this month</h3>
            <div>Ušetriť 5000kč</div>
            <div>Ušetriť 5000kč</div>
            <div>Ušetriť 5000kč</div>
            <div>Ušetriť 5000kč</div>
            <div>Ušetriť 5000kč</div>
            <div>Ušetriť 5000kč</div>
            <div>Ušetriť 5000kč</div>
            <div>Ušetriť 5000kč</div>
            <div>Ušetriť 5000kč</div>
            <div>Ušetriť 5000kč</div>
            <div>Ušetriť 5000kč</div>
            <div><a href="@Url.Action("Index", "Plan")" class="more">More</a>
            </div>
        </div>
    </div>
</div>
    
@await Component.InvokeAsync("SuccessMessage")
</body>

@RenderSection("scripts", required: false)
</html>